.home-container {
  min-height: 100vh;
  background-size: cover;
  background-image: url('https://images5.alphacoders.com/421/thumb-1920-421201.jpg');
}
.home-header {
  width: 100%;
  height: 191px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
.home-text {
  color: #f91313;
  font-size: 3em;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}
.home-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.home-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-sidebar {
  width: 342px;
  height: 616px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: var(--dl-size-size-xsmall);
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}
.home-button-1 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  z-index: 100;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  padding-top: 13px;
  background-color: green;
}
.home-button-2 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  z-index: 100;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  padding-top: 13px;
  background-color: #fd0000;
}
.home-button:active {
  background-color: green;
}
.home-button:disabled {
  background-color: red;
}
.home-button01:active {
  background-color: green;
}
.home-button01:disabled {
  background-color: red;
}
.home-settings {
  top: 200px;
  flex: 0 0 auto;
  left: 350px;
  right: auto;
  width: 830px;
  bottom: auto;
  height: 129px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-unit {
  width: 200px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.home-text01 {
  color: #000000;
  width: 150px;
  height: var(--dl-size-size-small);
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-select {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: flex-end;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-currency {
  width: 200px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.home-text02 {
  color: #000000;
  width: 150px;
  height: var(--dl-size-size-small);
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-select1 {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: flex-end;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-weight {
  width: 200px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.home-text03 {
  color: #000000;
  width: 150px;
  height: var(--dl-size-size-small);
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-select2 {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: flex-end;
  margin-left: 0px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-truckersmp {
  top: 530px;
  flex: 0 0 auto;
  left: 350px;
  right: auto;
  width: 526px;
  bottom: 74px;
  height: 287px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: flex-start;
}
.home-server {
  top: 20px;
  right: 40px;
  width: 200px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-text04 {
  color: #000000;
  width: 150px;
  height: var(--dl-size-size-small);
  font-size: 30px;
  align-self: center;
  text-align: center;
  margin-left: 0px;
}
.home-select3 {
  width: 124px;
  height: 45px;
  align-self: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-player {
  top: 20px;
  left: 40px;
  width: 200px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-text05 {
  color: #000000;
  width: 150px;
  height: 40px;
  font-size: 30px;
  align-self: center;
  text-align: center;
  margin-left: 0px;
}
.home-text06 {
  font-size: 25px;
}
.home-status {
  left: 40px;
  width: 200px;
  bottom: 50px;
  height: 85px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-text07 {
  color: #000000;
  width: 150px;
  height: 40px;
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-text08 {
  font-size: 25px;
}
.home-queue {
  right: 40px;
  width: 200px;
  bottom: 50px;
  height: 85px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-text09 {
  color: #000000;
  width: 150px;
  height: 40px;
  font-size: 30px;
  align-self: flex-start;
  text-align: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-text10 {
  font-size: 25px;
}
.home-footer {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.home-button09 {
  top: 2px;
  left: 29px;
  width: 125px;
  position: absolute;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text11 {
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-left: 200px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
}
.home-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text12 {
  padding-left: var(--dl-space-space-fiveunits);
}
.home-button10 {
  top: -1px;
  right: 41px;
  position: absolute;
}
.home-button10 {
  top: -1px;
  right: 41px;
  position: absolute;
}
.home-usage {
  top: 560px;
  flex: 0 0 auto;
  left: 900px;
  right: auto;
  width: 283px;
  bottom: 130px;
  height: 213px;
  margin: auto;
  display: flex;
  opacity: 1;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-cpu {
  font-size: 25px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
}
.home-memory {
  font-size: 25px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
}
.home-storage {
  font-size: 25px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
}
.home-text13 {
  top: 380px;
  left: 380px;
  right: auto;
  bottom: auto;
  position: absolute;
  font-size: 25px;
  margin-top: 0px;
  text-align: center;
  line-height: 1;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 50px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  letter-spacing: 0.1px;
  padding-bottom: 0px;
  background-color: #D9D9D9;
}
.home-text14 {
  text-align: center;
}
@media(max-width: 991px) {
  .home-nav1 {
    padding-top: 16px;
  }
  .home-settings {
    top: 183px;
    right: -136px;
    margin-right: auto;
    padding-right: 0px;
  }
  .home-unit {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-currency {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-weight {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-truckersmp {
    width: 404px;
  }
  .home-server {
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-player {
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-status {
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-queue {
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-button10 {
    width: 227px;
  }
  .home-usage {
    top: 551px;
    left: 710px;
    width: 228px;
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .home-text13 {
    bottom: 380px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-icon {
    display: flex;
  }
  .home-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-footer {
    flex-direction: column;
  }
  .home-text11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
.home-text15 {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: flex-end;
  margin-left: 13px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  font-size: 20px;
}
.home-text16 {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: flex-end;
  margin-left: 10px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  font-size: 20px;
}
.home-text17 {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: flex-end;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  font-size: 20px;
}
.home-text18 {
  width: var(--dl-size-size-medium);
  height: 55px;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  font-size: 20px;
}

