name: Build and Release Plugins

on:
  release:
    types: [published, created]

jobs:
  build_and_upload:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            platform: linux
          - os: windows-latest
            platform: win
          - os: macos-latest
            platform: mac

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install Dependencies
        run: npm ci

      - name: Package Plugin
        run: node scripts/build.js --ci-platform=${{ matrix.platform }}

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist_package/*.tpp
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
