name: Wiki Sync

on:
  push:
    branches:
      - master
    paths:
      - 'docs/wiki/**'

jobs:
  sync-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Sync to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          strategy: clone
          wiki_folder: docs/wiki
          commit_message: "Auto-sync from docs/wiki (GitHub Action)"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
